<% provide(:title, @post.title) %>
<div class="center jumbotron">

    <div class = "post">
        <p class= "post-title"><%= @post.title %><p>
        
        <div class= "post-content">
            <%=raw @post.content %>
        </div>

        <p class="gather-progress"><%= @post.current %>$ out of <%= @post.goal %>$<p>
    </div>

    <%= render 'donations/donations'%>

</div>


